<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LearnJava: Spring Boot: Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tbody>
    <tr>
        <td colspan="2" style="text-align: center"><a th:href="@{/ui/new}" class="btn btn-primary">New person</a></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center"><a th:href="@{/ui/list}" class="btn btn-primary">All persons</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>